
body{

  background-color: white;
  margin: 2px;
  
}

#info {

  background-color: #938968;

  left: 0%;
  position: relative;

  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  display: -ms-box;
  -ms-box-align: center;
  -ms-box-pack: center;

  display: -o-box;
  -o-box-align: center;
  -o-box-pack: center;
}

p{
  padding: 13px;
}

#rigth{

  position: relative;
  float: 0%;

  border: 1px solid black;

  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  display: -ms-box;
  -ms-box-align: center;
  -ms-box-pack: center;

  display: -o-box;
  -o-box-align: center;
  -o-box-pack: center;
}

#size_p{
  position: relative;
  float: 0%;
}

#game{

  position: relative;
  float: 0%;
  left: 2px;

  background-color: white;
  height: 350px;
  width: 98%;
  border: 2px solid #504C40;

  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  display: -ms-box;
  -ms-box-align: center;
  -ms-box-pack: center;

  display: -o-box;
  -o-box-align: center;
  -o-box-pack: center;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #938968;
  position: absolute;

  left: 0%;
  cursor: pointer;

  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  display: -ms-box;
  -ms-box-align: center;
  -ms-box-pack: center;

  display: -o-box;
  -o-box-align: center;
  -o-box-pack: center;
}